*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}
.main{
   
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.main1{
    background-color: aqua;
    min-height: 200px;
    width: 300px;
}
.main2{
    background-color: blueviolet;
    min-height: 200px;
    width: 300px;
}
.main3{
    background-color: blue;
    min-height: 200px;
    width: 300px;
}